<tr>
  <td><%= b.title %></td>
  <td><%= b.url %></td>
  <td>
    <% b.categories.each do |c| %>
      <%= c %> <br>
    <% end %>
  </td>
  <td>
    <% b.kinds.each do |k| %>
      <%= k %> <br>
    <% end %>
  </td>
  <td><%= link_to 'Show', bookmark_path(b) %></td>
  <td><%= link_to 'Edit', edit_bookmark_path(b) %></td>
  <td><%= link_to 'Destroy', bookmark_path(b), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>