<%= form_with(model: bookmark, remote: true, id: "form") do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :category, class:"label.id" %>
    <ul class= "field-space">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :title %>
    </ul>
  </div>

  <div class="field">
    <%= form.label :kind, class:"label.id" %>
    <ul class= "field-space">
    <%= form.collection_check_boxes :kind_ids, Kind.all, :id, :title %>
    </ul>
  
  </div>


  <div class="actions">
  
    <%= form.submit data: { confirm: 'add mark?' } %>
  </div>
<% end %>